body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: tomato;
    color: wheat;
    text-align: center;
    padding: 20px 0;

}

.f {
    background-color: tomato;
    color: wheat;
    text-align: center;
    padding: 10px 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.meal {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

img {
    max-width: 20%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.container button {
    background-color: orangered;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0 10px;
    }

    input[type="text"],
    button {
        width: 100%;
        margin-bottom: 10px;
    }
}